<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health-Nut</title>
  <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Corrected path -->
  <script src="/scripts/main.js" defer></script>
  <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/path/to/apple-touch-icon.png">
  <meta property="og:title" content="Your Page Title">
  <meta property="og:description" content="Your page description">
  <meta property="og:image" content="/path/to/image.jpg">
  <meta property="og:url" content="https://www.yourwebsite.com">
</head>
