<!DOCTYPE html>
<html lang="en">
<%- include('../partials/html-head.ejs') %> <!-- Includes all head elements -->
<body>
  <%- include('../partials/dashNav.ejs') %>
  <%- include('../partials/dashTitle.ejs') %>
  <%- include('../partials/app-bar.ejs') %>
  <h1>ARTICLE INFORMATION AND OTHER STUFF HERE</h1>
</body>
</html>
