<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
<body>
  <img class="home-background" src="/images/yellow-spiral-background.jpg" class="dashboard-background">
  <%- include('../partials/dashNav.ejs') %>
  <%- include('../partials/dashTitle.ejs') %>
  <%- include('../partials/app-bar.ejs') %>
  <h1></h1>
  <div class="video-container">
    <div class="video-title">
      <h1>24 Hours</h1>
      <iframe src="https://www.youtube.com/embed/fLeJJPxua3E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-title">
      <h1>Food Affects You</h1>
      <iframe src="https://www.youtube.com/embed/xyQY8a-ng6g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-title">
      <h1>Mind Over Matter</h1>
      <iframe src="https://www.youtube.com/embed/Zy5c2k3W458" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
 <div class="video-container">
  <div class="video-title">
    <h1>Stop Making Excuses</h1>
  <iframe src="https://www.youtube.com/embed/wnHW6o8WMas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-title">
    <h1>Motivation for ADHD</h1>
  <iframe src="https://www.youtube.com/embed/OM0Xv0eVGtY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-title">
    <h1>Sleep & The Brain</h1>
  <iframe src="https://www.youtube.com/embed/IzQ2siryQrM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</body>
</html>
