<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/dashNav.ejs') %>
  <%- include('../partials/dashTitle.ejs') %>
  <%- include('../partials/app-bar.ejs') %>
  <h1>---------------MENTAL HEALTH PAGE------------------</h1>
</body>
</html>