<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Home Page</title>
</head>
<body>
  <h1>Health Nut</h1>  
  <p>Empower your health, one step at a time.</p>

  <a class="authButtons" href="/auth/sign-in">Sign in</a>
  <a class="authButtons" href="/auth/sign-up">Sign up</a>

  <div>User Testimonial 1</div>
  <div>User Testimonial 2</div>
  <div>User Testimonial 3</div>

  <% if (user) { %>
    <span>Hi <%= user.username %></span>
  <% } %>



</body>
</html>