@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar styles - Spread contents to outermost edges */
.dash-nav {
  display: flex;
  justify-content: space-between; /* Spread contents */
  align-items: center; /* Vertically align items */
  color: #37371F; /* Pale Gold text color */
  background-color: #90BE6D; /* Forest Green background */
}


.dash-nav a {
  display: flex; 
  color: #37371F;
}

.dash-nav .logo img {
  width: 30%; /* Adjust the size of your logo */
  height: auto; /* Maintain the aspect ratio */
}

.dash-nav .sign-out { 
  margin-right: 1vw;
  padding: .8vh;
  font-size: 1.2em; /* Enlarge the button */
  border-radius: 15px;; /* Gives the button rounded corners */
  text-align: center;
}




/* Title styles - Centralize text */
.dash-title {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: #37371F; /* Forest Green text color */
  background-color: #C9E3AC; /* Light Mint background */
  margin: 0;
  padding: 2vh;
  /*border: ridge black; Removed border */
}

.dash-title a {
  color: #37371F; /* Forest Green text color */
}

/* App bar styles */
.app-bar {
  display: flex; 
  justify-content: space-between; /* Spread contents evenly */
  background-color: #EAEFBD; /* Pale Gold background */
  padding: 0;

}

.app-bar a {
  flex: 1; /* Spread links evenly */
  max-width: 20%;
  text-align: center; /* Center text within each link */
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  padding: 15px;
  text-decoration: none;
  color: #37371F; /* Forest Green text color */
  background: #EAEFBD; /* Pale Gold background */
  border: 1px solid #37371F; /* Added border around each tab */
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

/* Media queries for mobile */
@media (max-width: 480px) {
  .app-bar {
    flex-direction: column;
    align-items: center;
  }

  .app-bar a {
    flex: none;
    width: 100%;
    border: 1px solid black; /* Maintain borders for responsive view */
  }

  .app-bar a:last-child {
    border-bottom: 1px solid black; /* Ensure border for the last tab */
  }
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #A8E0FF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #9ac2ef;
  background-size: cover;
  background-repeat: no-repeat;
}


.medication-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Adjust the z-index to your requirement */
}

.medication-field {
  color: #37371F;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  align-items: center;
}

.medication-field ul {
  list-style-type: none;
  padding-left: 0;
}

.medication-field li {
  border-color: #37371F;
  border-style: ridge;
  display: flex;
  justify-content: space-between;
}

.medication-info {
  text-align: left;
  padding: 1em;
}

.medication-buttons {
  position: relative;
  display: flex;
  text-align: right;
  position: relative;
  margin-left: 2vw;
  margin-right: 2em;
  flex-direction: column;
  align-items: flex-start;
}

.med-form-alignment {
  color: #37371F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

#edit-form {
  right: 0;
}

.addMed-form {
  color: #37371F;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  justify-content: space-evenly;
}

.editMed-form {
  color: #37371F;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  justify-content: space-evenly;
}

.currentMeds {
  color: #37371F;
  background-color: #EAEFBD;
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  width: 40%;
  border-style: ridge;
  border-color: #37371F;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#edit-button {
  right: 0;
}

.med-buttons {
  background-color: #C9E3AC;
  padding: 10px 20px; /* Horizontal and Vertical Padding */
  border-radius: 15px;
  color: #37371F;
  align-self: center;
  margin-top: 1em; /* Ensure margin properties are properly separated */
  margin-bottom: 1em; 
  display: block; /* Centering the button horizontally */
  margin-left: auto;
  margin-right: auto;
}


